<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BulletinMember">
	<resultMap type="BulletinMember" id="memberMap">
		<id 		column="member_id"					property="member_id"/>
		<result column="id"									property="id"/>
		<result column="pass"								property="pass"/>
		<result column="member_name"				property="member_name"/>
		<result	column="email"							property="email"/>
		<association column="member_level_id" 	property="memberLevel"	 javaType="MemberLevel" select="MemberLevel.select"/>
	</resultMap>
	
	<sql id="select_sql">
		select member_id, id, pass, member_name, email, member_level_id 
		from member
	</sql>
	
	
	<select id="selectAll" resultMap="memberMap">
		<include refid="select_sql"></include>
		order by member_id desc
	</select>
	
	
	<select id="select" parameterType="int" resultMap="memberMap">
		<include refid="select_sql"/>
		where member_id = #{member_id}
	</select>
	
	<!-- insert by oracle -->
	<insert id="insert" parameterType="BulletinMember">
		insert into member(member_id, id, pass, member_name, email)
		values(seq_member.nextval, #{id}, #{pass}, #{member_name}, #{email})
	</insert>
	
<!-- 	
	
	insert by mariaDB
	<insert id="insert" parameterType="BulletinMember">
		insert into member(id, pass, member_name, email)
		values(#{id}, #{pass}, #{member_name}, #{email})
	</insert>
	
	 -->
	
	
	<select id="login" parameterType="BulletinMember" resultMap="memberMap">
		<include refid="select_sql"/>
		where id = #{id} and pass = #{pass}
	</select>
	
	
	<!-- 관리자에서 회원정보 수정하기! -->
  <update id="update" parameterType="BulletinMember">
  	update member set pass=#{pass}, member_name=#{member_name}, email=#{email}, member_level_id=#{member_level_id} where member_id=#{member_id}
  </update>
  
  
  <!-- 관리자가 아닌 회원 전체 정보 가져오기!! -->
  <select id="selectAllAdmin" resultType="BulletinMember">
  	<include refid="select_sql"/> where member_level_id != 2
  </select>
  
    <!--  gallery board 작성자 검색 -->
  <select id="selectMember" parameterType="String" resultType="BulletinMember">
 	 	<include refid="select_sql"/> where member_name like #{searchText}
 	 	</select>
 	 	
    <!-- 회원가입 관련 -->
   <select id="checkId" parameterType="BulletinMember"
      resultType="BulletinMember">
      select member_id,id,pass,member_name,email,member_level_id
      from member where id=#{id}
   </select>

   <select id="checkEmail" parameterType="BulletinMember"
      resultType="BulletinMember">
      select member_id,id,pass,member_name,email,member_level_id
      from member where email=#{email}
   </select>
</mapper>