<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Weather">
	<select id="selectByCityName" resultType="Weather" parameterType="Weather">
		select * from weather where city=#{city}
	</select>
	<select id="selectAll" resultType="Weather">
		select * from weather order by weather_id asc
	</select>
</mapper>